/* About Section*/
.about-container {
    display: flex;
    .image-container {
        border: 1px solid var(--secondary-color);
        border-radius: 10px;
        padding: 10px 20px;
        margin-right: 25px;
        width: auto;
        background: var(--background);
        box-shadow: var(--box-shadow);
    }

    img {
        height: 300px;
        width: 300px;
    }
}
